body {
    padding-top: 90px !important;
}

#nav-ppal{
    background-color: white !important;
    box-shadow: 1px 1px 8px #646569;
}

.navbar-dark .navbar-nav .nav-link {
    color: #6d6e72;
}

.no-padding{
    padding: 0;
}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: #67c940;
}

.logo-nav{
    max-width: 200px;
}

.color-white{
    color: white;
}

.img-fluid {
    width: 100%;
    margin-top: 0px !important;
}

.border-footer {
    box-shadow: 1px 1px 2px 0px #646569;
    padding-bottom: 20px;
    margin-bottom: 15px;
}

a:hover, .navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
    color: #72d54a;
    text-decoration: none;
}

.margin-top-30{
    margin-top: 30px;
}

.margin-bottom-30{
    margin-bottom: 30px;
}

.margin-top-12{
    margin-top: 13px;
}

.margin-bottom-15{
    margin-bottom: 15px;
}

.color-ppal{
    color: #6ac346;
}

.no-margin{
    margin: 0 !important;
}

.no-paadding{
    padding: 0;
}

.ui-accordion .ui-accordion-content {
    padding: 1em 1em !important;
}

a.btn{
    background: #72d54a;
    border-radius: 0;
    padding: 14px 35px;
    font-weight: bold;
}

a.btn:hover{
    color: white !important;
}

.color-gray{
    color: #68696d;
}

.form-control, .btn-success{
    border-radius: 0 !important;
}

.btn-success{
    padding: 14px 35px;
}

.with-errors{
    color: #dc3545 !important;
}

.ico-pse{
    max-width: 100px;
}

.display-none{
    display: none;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover{
    background-color: #818285;
    border: none;
    border-radius: 0;
}

.ui-accordion .ui-accordion-content{
    overflow-x: hidden;
    height: auto !important;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active{
    border: none;
    border-radius: 0;
}

#loader {
    bottom: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(160, 160, 160, 0.83);
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    align-content: center;
    z-index: 999;
}

button.btn.btn-nav.navbar-btn {
    background: #6b6c70;
    color: #72d54a;
    border-radius: 0;
}

.loader{
    border-top: 16px solid #72d54a;
    border-bottom: 16px solid #72d54a;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}